<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
      <link rel="stylesheet" href="../public/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous" defer></script>
    <script src="../view/js/script.js" defer></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKIzh7T1VM_wdXMfMDTsz7xT42W4x0UEM&callback=initMap&v=weekly"
    defer
  ></script>
    <title>MovUp</title>
</head>
<body class="vh-100 overflow-hidden">

    <!--NavBar-->
    <nav class=" nav navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#">MovUp</a>

    <!--Toogle Btn-->
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <!--Toogle Btn-->

    <!--Sidebar-->
          <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
     <!--Sidebar Body-->       
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item mx-2">
                  <a class="nav-link" href="/view/index.html">HOME</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/view/profile.html">PROFILE</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#">VOUCHERS</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#">MESSAGES</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#">REFERRAL</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="#">HELP</a>
                  </li>
              </ul>
                <button class="btn btn-outline-success" type="submit">BECOME A DRIVER</button>
            </div>
          </div>
        </div>
      </nav>
    <!--NavBar-->

    <!--Map-->
    <main id="mapa">
        <div id="map"></div>
        <div id="sidebar"></div>     
        <!-- prettier-ignore -->
    </main>
    <!--Map-->

    <!--Footer-->
        <footer class="footer">
                <h5>WHERE ARE YOU GOING?</h5>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control input1" placeholder="Current position" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class=" input-group flex-nowrap">
                    <input type="text" class="input2 form-control" placeholder="Choose your destination" aria-label="Username" aria-describedby="addon-wrapping">
                </div> 
        </footer>
    <!--Footer-->
</body>
</html>