<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/view/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/view/css/profile.css">
</head>
<body>
    <section class="get_in">
        <h1 class="title">
            PERFIL
        </h1>
        <div class="container">
            <div class="contact raw">
                <div class="form-field col-lg-6">
                    <input type="text"class="input-text" id="name">
                    <label for="name" class="label">Nome</label>
                </div>
                <div class="form-field col-lg-6">
                    <input type="text"class="input-text" id="sobrenome">
                    <label for="sobrenome" class="label">Sobrenome</label>
                </div>
                <div class="form-field col-lg-6">
                    <input type="number"class="input-text" id="number">
                    <label for="number" class="label">Telefone</label>
                </div>
                <div class="form-field col-lg-6">
                    <input type="email"class="input-text" id="email">
                    <label for="email" class="label">Email</label>
                </div>
                <div class="form-field col-lg-6">
                    <input type="submit" class="submit-btn" value="Salvar Alterações" id="submit">
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>